body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.i {
    color: chocolate;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.e {
    width: 60%;
    padding-left: 8%;
    background-image: url(images/bg.jpg);
}

.e img {
    width: 90%
}

.o {

    padding: 5px 10px;
    background-image: linear-gradient(orange, tomato);
    color: azure;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.b {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
}

.h {
    width: 60%;
    padding-right: 8%;
}

.amazon {
    padding: 5px 10px;
    background-image: linear-gradient(rgb(204, 146, 39), tomato);
    color: azure;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.m {
    width: 40%;
    padding-right: 5%;
}

.new-exprience {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 5%;
    background-image: url(images/bg.jpg);
    border-left: 10px solid red;
    border-right: 10px solid orange;
}

.newexprience {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 5%;
    background-image: url(images/bg.jpg);
    border-left: 10px solid blue;
    border-right: 10px solid black;
}

p {
    text-align: justify;
}

#u {
    text-align: center;
}